<%= content_for :kindaSlowString, controller.kindaSlowString %>

<div>
    <h3>Dashboard Template (Streamed)</h3>

    <p>This is what we've been waiting for: <%= controller.actuallySlowThing %></p>

    <em>And this lil-piggy should render last</em>
</div>



<script id="load-timing-finished" type="text/javascript">
  performance.mark("end:app-load");
  performance.measure('app-load-duration', 'start:app-load', 'end:app-load');
</script>
